<div class="container settingtxt"><!-- Start container -->
	<%= render "shared/header" %>

	<div class="row"><!-- Start row uno -->
		<div class="background1">
			<h6 class="rowunotxt">  </h6>
		</div>
	</div><!-- Finish row uno -->

	<div class="row" style="float:right;"><!-- Start row dos -->
		<button class="summarybtn">Summary</button>
		<button class="topbtn">Movie Ratings</button>
		<button class="topbtn">TV Ratings</button>
		<button class="topbtn">WTS/NI</button>
		<button class="topbtn">Quotes</button>
		<button class="topbtn">Lists</button>
		<button class="topbtn">My Critics</button>
	</div><!-- Finish row dos -->
		

	<div class="row"><!-- Start row tres -->
		<div class="col-lg-4 box4"><!-- Start col uno -->
			<img class="loginimg" src="https://msftmecprodstorage.blob.core.windows.net/images/EzMemberDefault.jpg">
		  <h5><b>USER NAME HERE</b></h5>
      <h5>Manage Account <br>
      Profile Summary</h5>

       <!-- COMPROBACIO DE SETTING SI NO ES NULL -->     
      <%if !@setting.nil?%>
 
        <p><b>Country:</b>&nbsp;<%= @setting.country %></p>
        <p><b>Language:</b>&nbsp;<%= @setting.language %></p>
 
        <%= link_to 'Edit', edit_setting_path(@setting.id), :title => "Edit", class: 'btn btn-md btn-primary fa fa-1x fa-edit', style:"color: white;" %>
        <br></br>  
      <%else%>
 
    <%= link_to 'Añadir', new_setting_path, title:"Añadir setting !!", class:"btn btn-md btn-danger fa fa-1x fa-address-book nodecor pull-right", style:"color:white;" %>
 <%end%>


    </div><!-- Finish col uno -->

    <div class="col-lg-1"><!-- Start col dos --> 
    </div><!-- Finish col dos -->
      
		<div class="col-lg-7 box5"><!-- Start col tres -->
    <h4 class="box6"><b>WANT-TO-SEE MOVIES</b></h4>
      <h5>This user has no <i>Want to See</i> movie selections yet.</h5>
		</div><!-- Finish col tres -->
	</div><!-- Finish row tres -->

  <div class="row"><!-- Start row cuatro -->
    <div class="col-lg-4 box5">
      <h4 class="box6"><b>PROFILE STATS</b></h4>
      <h5><b>Total Profile Views:</b><br>
          0 <br><br>
          <b>Profile Views Last 7 Days:</b><br>
          0</h5>
    </div><!-- Finish col cuatro -->
    
    <div class="col-lg-1"><!-- Start col cinco -->
    </div><!-- Finish col cinco -->
    
    <div class="col-lg-7 box5"><!-- Start col seis -->
      <h4 class="box6"><b>WANT-TO-SEE TV</b></h4>
      <h5>This user has no <i>Want to See</i> movie selections yet.</h5> 
    </div><!-- Finish col seis -->
  </div><!-- Finish row cuatro -->

  <div class="row"><!-- Start row cinco -->
    <div class="col-lg-4 box5"><!-- Start col siete -->
      <h4 class="box6"><b>ABOUT</b></h4>
      <h5><b>Member Since</b><br>
          0/00/0000</h5>
    </div><!-- Finish col siete -->

    <div class="col-lg-1"><!-- Start col ocho -->    
    </div><!-- Finish col ocho -->

    <div class="col-lg-7 box5"><!-- Start col nueve -->
      <h4 class="box6"><b>RATING HISTORY</b></h4><h5 style="float:right;">Movie Ratings  |  TV RatingsRATING HISTORY</h5>
      <h5>No recent ratings.</h5> <br><br>
      <h5 style="float:right;">Like my reviews? Nominate me as a Super Reviewer</h5>
    </div><!-- Finish col nueve -->
  </div><!-- Finish row cinco -->



  <%= render "shared/footer" %>
</div><!-- Finish container -->