<%= render "shared/header" %>
<!--  -->
<div class="container alltxt"><!-- Start container -->
		<div class="row"><!-- Start row uno -->
			<div class="background1">
				<h6 class="rowunotxt">TRENDING ON RT</h6>
			</div>
		</div><!-- Finish row uno -->

    <!-- Start boxes -->
		<div class="row"><!-- Start row dos -->
      <div class="col-lg-6 box1"><!-- Star col uno -->
        <img class="imagehvr img2" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496303561/c5_sxcewn.png">
  		</div><!-- Finish col uno -->

			<div class="col-lg-3 box2"><!-- Start col dos -->
				<img class="imagehvr img3" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496303561/ww_rxlcwk.png">
			</div><!-- Finish col dos -->

			<div class="col-lg-3 box3"><!-- Start col tres -->	
				<img class="imagehvr img4" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496233388/Sin_t%C3%ADtulo_2_kd36lh.png">
			</div><!-- Finish col tres -->
		</div><!-- Finish row dos -->
    <!-- Finsih boxes -->

    <!-- Start list -->
		<div class="row"><!-- Start row tres -->
			<div class="col-lg-6 boxtabla1"><!-- Start col siete -->
				<h4><b>MOVIES OPENING THIS WEEK</b></h4>

		    <!-- Start tabla pelis -->
				<table class="table table-hover table-striped" border="0">	
				<tbody>
					<h4><tr class="alltxt">
					  <th>STARS</th>	
					  <th>MOVIE NAME</th>
					  <th>ACTOR</th>
					  <th>YEAR</th>
					  <th>ID</th>
					</tr></h4>		
				</tbody>

				<% @peliculas.each do |peli| %>
					<tr>
						<td style="background-color: white;" class="alltxt2">
							<span class="fa fa-star">&nbsp;</span><%= peli.stars %>
						</td>
				
						<td style="background-color: white;" class="alltxt2"> 
							<%= link_to peli.name, pelicula_path(peli), :title => "Visualizar" %> 
						</td>
				 
						<td style="background-color: white;" class="alltxt2">
							<%= peli.main_actor %>
						</td>
				 
						<td style="background-color: white;" class="alltxt2">
							<%= peli.year %>	
						</td>
				 
						<td style="background-color: white;" class="alltxt2">
							<%= peli.id  %> 
						</td> 
					</tr>
				<% end %>
				</table>
		    <!-- Finish tabla peliculas -->				                


				<h4><b>TOP BOX OFFICE</b></h4>
				<table class="table">
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  31%</th>
    					<th>Pirates of the Caribbean: Dead men tell no tiles</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  81%</th>
    					<th>Guardians of the Galaxy VOL.2</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  19%</th>
    					<th>Baywatch</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  71%</th>
    					<th>Alien: Covenant</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  46%</th>
    					<th>Everything, Everything</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  17%</th>
    					<th>Diary Of A Wimpy Kid: The Long Haul</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  37%</th>
    					<th>Snatched</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  28%</th>
    					<th>King Arthur: Legend of the Sword</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  52%</th>
    					<th>The Boss Baby</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  71%</th>
    					<th>Beauty and the Beast</th>
    					<th>  </th>
  					</tr>
				</table>

				</div><!-- Finish col siete -->

			<div class="col-lg-6 boxtabla2"><!-- Start col ocho -->
				<h4><b>NEW TV TONIGHT</b></h4>
				<table class="table">
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  90%</th>
    					<th>Downward Dog: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  100%</th>
    					<th>House of Cards: Season 5</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  100%</th>
    					<th>iZombie: Season 3</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  97%</th>
    					<th>The Americans: Season 5</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  83%</th>
    					<th>Genius: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  78%</th>
    					<th>Victorian Slum House: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  55%</th>
    					<th>Prision Break: Season 5</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  25%</th>
    					<th>Imaginary Mary: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><h6>Not  Score Yet</h6></th>
    					<th>Casual: Season 3</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><h6>Not  Score Yet</h6></th>
    					<th>Famous in Love: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><h6>Not  Score Yet</h6></th>
    					<th>American Epic: Season 1</th>
    					<th>  </th>
  					</tr>
				</table>			

				<h4><b>MOST POPULAR TV ON RT</b></h4>
				<table class="table">
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg"> 95%</th>
    					<th>Twin Peaks: The Return</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">96%</th>
    					<th>American Gods: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">100%</th>
    					<th>Master of None: Season 2</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">100%</th>
    					<th>The Handmaid's Tale: Season 1</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">98%</th>
    					<th>The Leftovers: Season 3</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">93%</th>
    					<th>The Keepers: Miniseries</th>
    					<th>  </th>
  					</tr>
				</table>

				<h4><b>TOP DVD & STREAMING MOVIES</b></h4>
				<h6>FandangoNOW | Nerflix | iTunes | Amazon | More...</h6>
				<table class="table">
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  92%</th>
    					<th>Logan</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  99%</th>
    					<th>Get Out</th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://coopecanera.com/wp-content/uploads/2014/11/mancha-verde.png">  35%</th>
    					<th>The Great Wall/th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496231557/1_burned_fepmac.png">  76%</th>
    					<th>Wakefield/th>
    					<th>  </th>
  					</tr>
  					<tr>
    					<th><img class="miniimg" src="http://images.gofreedownload.net/tomato-238102.jpg">  100%</th>
    					<th>My Life as Zucchini (Ma Vie de Courgette)</th>
    					<th>  </th>
  					</tr>
				</table>	
			</div><!-- Finish col ocho -->
		</div><!-- Finish row tres -->
    <!-- Finish list -->

    <div class="row"><h4><b>MOVIE TRAILERS</b></h4></div>
    <div class="row"><!-- Start row cuatro -->
      <div class="col-lg-4"><!-- Start col nueve -->
        <h4>IT</h4>
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/FnCdOQsX5kc" frameborder="0" allowfullscreen></iframe>
      </div><!-- Finish col nueve -->

      <div class="col-lg-4"><!-- Start col diez -->
        <h4>Wonder Woman</h4> 
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/VSB4wGIdDwo" frameborder="0" allowfullscreen></iframe>
      </div><!-- Finish col diez -->

      <div class="col-lg-4"><!-- Start col once -->
        <h4>Thor: Ragnarok</h4> 
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/v7MGUNV8MxU" frameborder="0" allowfullscreen></iframe>
      </div><!-- Finish col once -->
    </div><!-- Finish row cuatro -->

<!-- ****************************** -->
    <br><br><br><br>
    <div class="row"><!-- Start row cinco -->
      <div class="col-sm-12" style="text-align:center;"><!-- Start col doce -->
        <%= form_tag(root_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag t('general.send') %>
        <% end %>
      </div><!-- Finish col doce -->
    </div><!-- Finish row cinco -->
<br><br>
    <div class="row"><!-- Start row seis -->
    <%@peliculas.each do |peli|%>
    <div class="col-sm-6 col-md-4 col-lg-3"><!-- Start col trece -->
        <div class="latest-movie">
            <a href="#"><img src="<%=peli.url%>"></a>
            <p><b>Nombre:</b> <%=peli.name%></p>
            <p><b>Director:</b> <%=peli.director%></p>
            <p><b>Año:</b> <%=peli.year%></p>
        </div><!-- Finish col trece -->
    </div><!-- Finish row seis -->
    <%end%>
</div>
<!-- ****************************** -->

<%= render "shared/footer" %>
    
</div><!-- Finish container -->